.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  margin: 0;
  padding: 0;
}

.landing_page {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: linear-gradient( rgba(0,0,0,.7), rgba(0,0,0,.7) ), url("http://i.imgur.com/jm3ZxSJ.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

.landing_text h1 {
  padding-top: 25%;
  color:white;
  text-align: center;
  z-index: 1;
}

.about_container {
  padding-top: 30%;
  text-align: center;
}